html, body {
  margin: 0;
  padding: 0;
}

span {
  text-decoration: underline;
}

#game-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

#game-title-container {
  width: 90%;
}

#game-container {
  width: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #DBDFEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-over-alert {
  font-size: 15px;
  line-height: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#game-arena {
  width: 330px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#game-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
}

#bug-img {
  width: 50px;
  height: 60px;
  animation: shake .5s ease-in-out infinite;
}

#score-board {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#start-game-instruction {
  color: #ff4321;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#start-game-instruction-container {
  width: 330px;
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #146C94;
  text-align: center;
  line-height: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

#footer p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#footer p a {
  color: white;
}

@keyframes shake {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}